streamlit==1.32.0
pandas==2.2.1
numpy==1.26.4
plotly==5.20.0
openpyxl==3.1.2
pyarrow==15.0.2
watchdog==4.0.0
gdown==5.2.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.126.0
